1.What are data structures, and why are they important?

Answer:
Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because they determine how data can be processed, how fast operations like searching or sorting are, and how memory is used. Examples include lists, tuples, sets, and dictionaries in Python.


..


2.Explain the difference between mutable and immutable data types with examples

Answer:
Mutable data types can be changed after they are created.
Example: Lists are mutable: my_list = [1, 2]; my_list.append(3) changes it to [1, 2, 3].

Immutable data types cannot be changed after creation.
Example: Strings and tuples are immutable: my_str = "hello" → you can’t change my_str[0].


..

3.What are the main differences between lists and tuples in Python?

Answer:

Lists are mutable: elements can be added, removed, or changed.

Tuples are immutable: once created, they cannot be changed.

Lists use more memory than tuples but offer more flexibility.

Tuples can be used as dictionary keys; lists cannot.


..


4.Describe how dictionaries store data

Answer:
Dictionaries store data as key-value pairs. Each key is hashed to determine where its value is stored in memory, making lookup fast. Example: {'name': 'Alex', 'age': 25} — here, 'name' is a key, 'Alex' is its value.


..


5.Why might you use a set instead of a list in Python?

Answer:
Sets are used when you need unique items and don’t care about order. For example, to remove duplicates from a list: unique_numbers = set([1, 2, 2, 3]) → {1, 2, 3}. Sets also allow fast membership tests.


..


6.What is a string in Python, and how is it different from a list?

Answer:
A string is an immutable sequence of characters. A list is a mutable sequence of elements, which can be of any type. For example, 'hello' is a string; ['h', 'e', 'l', 'l', 'o'] is a list.

..



7.How do tuples ensure data integrity in Python?

Answer:
Tuples are immutable, so their contents cannot be changed accidentally. This makes them safe for storing constant, unchanging data, or using them as dictionary keys or elements of sets.


..


8.What is a hash table, and how does it relate to dictionaries in Python?

Answer:
A hash table is a data structure that maps keys to values using a hash function to compute an index. Python dictionaries are built on hash tables — they use keys’ hash values to store and quickly retrieve corresponding values.


..


9.Can lists contain different data types in Python?

Answer:
Yes. Python lists can hold mixed data types:
Example: [1, "hello", 3.5, [2, 3]] is valid.


..


10.Explain why strings are immutable in Python

Answer:
Strings are immutable to improve performance and security — they can be safely shared and reused without risk of unexpected modification. This enables Python to optimize memory with techniques like string interning.


..


11.What advantages do dictionaries offer over lists for certain tasks?

Answer:

Faster lookups: accessing a value by key in a dictionary is generally O(1), while searching a list is O(n).

Better data organization: dictionaries store relationships between keys and values.

Clearer code: they make data more meaningful (student['marks'] vs. a list index).


..


12.Describe a scenario where using a tuple would be preferable over a list

Answer:
When you need an unchangeable sequence of items — e.g., coordinates (x, y), RGB colors (255, 0, 0), or as keys in a dictionary {(x, y): value}.


..


13.How do sets handle duplicate values in Python?

Answer:
Sets automatically discard duplicates. Adding a value that already exists does nothing:
{1, 2, 2, 3} → {1, 2, 3}.


..


14.How does the “in” keyword work differently for lists and dictionaries?

Answer:

For lists, in checks if a value exists in the list.

For dictionaries, in checks if a key exists (not the value).


..


15.Can you modify the elements of a tuple? Explain why or why not

Answer:
No. Tuples are immutable, so you can’t change, add, or remove their elements once created.


..


16.What is a nested dictionary, and give an example of its use case

Answer:
A nested dictionary is a dictionary inside another dictionary.
Example:

python
Copy
Edit
student = {
    'name': 'Alice',
    'grades': {'math': 90, 'science': 85}
}
Use case: storing related, structured data (like JSON).


..


17.Describe the time complexity of accessing elements in a dictionary

Answer:
Accessing an element by key in a dictionary is O(1) on average because it uses a hash table.


..


18.In what situations are lists preferred over dictionaries?

Answer:

When you need an ordered collection.

When keys are not needed — only positional access.

For simple sequences like [1, 2, 3, 4].

..



19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer:
In versions before Python 3.7, dictionaries did not guarantee order. From Python 3.7+, they preserve insertion order, but conceptually, they’re unordered because you retrieve data by key, not by position.


..


20.Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:

List: Access by index/position, e.g., my_list[0].

Dictionary: Access by key, e.g., my_dict['name'].

In [6]:
#4.Write a code to create a string with your name and print it.

#this is my code

name = "Harikrishna"
print(name)

Harikrishna

In [7]:
#Write a code to find the length of the string "Hello World".
#this is my code


text = "Hello World"
print(len(text))

11

In [8]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
print(text[:3])

Pyt

In [9]:
#Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

In [16]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

Python Programming

In [11]:
#Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [12]:
#Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

In [13]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

In [14]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']P
letters = ['a', 'b', 'c', 'd']
print(letters[1])

In [17]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [19]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [20]:
 # Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
 colors = ('red', 'green', 'blue', 'yellow')

print("Second-to-last element:", colors[-2])

Second-to-last element: blue

In [40]:
#. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print("Minimum number:", min(numbers))

Minimum number: 5

In [39]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print("Index of 'cat':", animals.index('cat'))

Index of 'cat': 1

In [24]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print("Is 'kiwi' in fruits?", 'kiwi' in fruits)

Is 'kiwi' in fruits? False

In [25]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.


my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'a', 'b', 'c'}

In [26]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers_set = {1, 2, 3, 4, 5}
numbers_set.clear()
print("Cleared set:", numbers_set)

Cleared set: set()

In [27]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num_set = {1, 2, 3, 4}
num_set.remove(4)
print("Set after removing 4:", num_set)

Set after removing 4: {1, 2, 3}

In [28]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.


set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

In [29]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set3 = {1, 2, 3}
set4 = {2, 3, 4}
intersection_set = set3.intersection(set4)
print("Intersection:", intersection_set)

Intersection: {2, 3}

In [30]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
print("Dictionary:", person)

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [31]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person2 = {'name': 'John', 'age': 25}
person2['country'] = 'USA'
print("Updated dictionary:", person2)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person3 = {'name': 'Alice', 'age': 30}
print("Name:", person3['name'])

Name: Alice

In [33]:
#. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person4.pop('age')
print("Dictionary after removing 'age':", person4)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

In [34]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person5 = {'name': 'Alice', 'city': 'Paris'}
print("Is 'city' a key?", 'city' in person5)

Is 'city' a key? True

In [35]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.


my_list = [1, 2, 3]
my_tuple2 = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print("List:", my_list)
print("Tuple:", my_tuple2)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

In [36]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print("Sorted random list:", random_list)

Sorted random list: [8, 14, 43, 67, 89]

In [37]:
#Write a code to create a list with strings and print the element at the third index.
strings = ['apple', 'banana', 'cherry', 'date', 'fig']
print("Element at index 3:", strings[3])

Element at index 3: date

In [38]:
#Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'apple', 'cherry']
string_set = set(string_list)
print("Set:", string_set)